[Unit]
Description=Service for backend communication between can bus and HMI frotend.
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/Darkflow-HMI-Backend/main.py
WorkingDirectory=/etc/Darkflow-HMI-Backend/
Restart=always

[Install]
WantedBy=multi-user.target